@import '../../node_modules/@ordelogy/ordelogy-fe-lib/dist/styles/vars';


.error-logo--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.error-logo--message {
    text-align: center;
    font-size: $big-font-size;
    font-weight: $medium-font-weight;
    padding: 10px;
}